@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.script {
  font-family: 'Dancing Script', cursive;
}

.midashi {
  color: #333;
  text-shadow: 0 0 2px #fff;
}

/* 最初の一文字 */
.initial {
  position: relative;
  display: inline-block;
  margin-right: 4px; /* 次の文字との間 */
  z-index: 1;
}

/* ● */
.initial::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #f9d3e0;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* big / small が効くようにする */
.script {
  font-size: inherit;   /* ← これが超重要 */
  line-height: 1.6;
  letter-spacing: 0.05em;
}
