@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.script {
  font-family: 'Dancing Script', cursive;
}

.fukidashi-date {
  display: inline-block;
  width: 120px;       /* 幅と高さを同じにする */
  height: 120px;      /* 高さ */
  line-height: 120px; /* 文字を中央にする */
  text-align: center;  /* 横中央揃え */
  border-radius: 50%;  /* これで完全な丸になる */
  background-color: #f9d3e0;
  color: #474747;
  font-size: 14px;
  margin: 16px 0 6px 0;
}

.title {
  color: #f9d3e0;
  font-size: 48px;
  font-family: serif;
  letter-spacing: 0.15em;
}
