@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.script {
  font-family: 'Dancing Script', cursive;
}

.fukidashi-date {
  display: inline-block;
  padding: 12px 16px;     
  border-radius: 50px;     
  background-color: #f9d3e0;
  color: #474747;
  font-size: 14px;
  text-align: center;
  margin: 16px 0 6px 0;
}


.title {
  color: #f9d3e0;
  font-size: 48px;
  font-family: serif;
  letter-spacing: 0.15em;
}


h1 {
  position: relative;
  color: #333;
  text-shadow: 0 0 2px white;
}

h1::before {
  content: "";
  position: absolute;
  background: #f9d3e0; /* ← ここを変更 */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  z-index: -1;
}
