@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.script {
  font-family: 'Dancing Script', cursive;
}

.fukidashi-date {
  display: inline-block;
  padding: 30px;           
  border-radius: 50%;     
  background-color: #f9d3e0;
  color: #474747;
  font-size: 14px;
  text-align: center;
  margin: 16px 0 6px 0;
}



.title {
  color: #f9d3e0;
  font-size: 48px;
  font-family: serif;
  letter-spacing: 0.15em;
}
