@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.script {
  font-family: 'Dancing Script', cursive;
}

.midashi {
  padding-left: 30px;   /* ← これが最重要 */
  overflow: visible !important;
}

.initial {
  position: relative;
  display: inline-block;
  line-height: 1;
  z-index: 1;
}

.initial::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #f9d3e0;
  border-radius: 50%;
  left: -15px;          /* 丸は文字より左 */
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}


/* big / small が効くようにする */
.script {
  font-size: inherit;   /* ← これが超重要 */
  line-height: 1.6;
  letter-spacing: 0.05em;
}
