@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.script {
  font-family: 'Dancing Script', cursive;
}

h1 {
  position: relative;
  color: #333;
  text-shadow: 0 0 2px white;
}

h1::before {
  content: "";
  position: absolute;
  background: #f9d3e0; /* ← ここを変更 */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  z-index: -1;
}


/* big / small が効くようにする */
.script {
  font-size: inherit;   /* ← これが超重要 */
  line-height: 1.6;
  letter-spacing: 0.05em;
}
