@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.script {
  font-family: 'Dancing Script', cursive;
}









.title {
  color: #f9d3e0;
  font-size: 48px;
  font-family: serif;
  letter-spacing: 0.15em;
}
